<header class="relative {{ post.data.heroSettings.bg.color or 'bg-black' }} lg:overflow-hidden {{ post.data.heroSettings.height.mobile or 'h-1/1' }} sm:{{ post.data.heroSettings.height.desktop or post.data.heroSettings.height.mobile or 'h-1/1' }}">
  <div class="absolute inset-0 z-negative  bg-fixed bg-no-repeat bg-cover {{ post.data.heroSettings.bg.imagePosition or 'bg-center' }} {{ post.data.heroSettings.bg.opacityMobile or 'opacity-100' }} md:{{ post.data.heroSettings.bg.opacityDesktop or post.data.heroSettings.bg.opacityMobile or 'opacity-100' }}" style="background-image: url(/assets/images/{{ post.data.heroSettings.bg.image }});"></div>

  {# Shared across hero components  #}
  {% include "components/hero-text-overlay.njk" %}

</header>